.OptionsContainer {
  width: 100%;
  height: 50vh;
  font-size: 1.2rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.tutImg {
  width: 950px;
  height: auto;
}

ul {
  list-style: none;
  margin: 0; 
  padding: 0;
}